# =========================
# 1. DATA FILES
# =========================
*.csv
*.xlsx
*.parquet

# =========================
# 2. POWER BI
# =========================
*Backup*.pbix
*.pbit

# =========================
# 3. PASSWORDS
# =========================
.env
.env.local
credentials.json

# =========================
# 4. PYTHON
# =========================
__pycache__/
*.py[cod]
.venv/
venv/
env/

# =========================
# 5. THRASH
# =========================
.DS_Store
Thumbs.db
